@charset "utf-8";

#root {
  margin: 1em;
}

.draw {
  margin-bottom: 1em;
  text-align: center;
}

.draw canvas {
  border: 1px solid gray;
}

.result {
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}

.images .image {
  margin-right: 10px;
}

.image {
  text-align: center;
}
