@charset "utf-8";

#root {
  margin: 1em;
}

.draw {
  margin-bottom: 1em;
  text-align: center;
}

.draw canvas {
  border: 1px solid gray;
}

.result {
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.image {
  text-align: center;
}

.image canvas {
  margin: 0 5px;
}
